{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/jsx-wrap-multilines": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "linebreak-style": 0
  }
}
